@font-face {
    font-family: 'CustomFont';
    
    src: url('Fints/Matcha\ Cih.ttf');
    font-family: customfont;
}

@font-face { 
src: url('Fints/Aurelia\ Sunlight\ Free.ttf');
    font-family:"test"
}

#m3{
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 5px; 
}
#m3 h2{
    color: #391586;
    font-size: 24px;
    margin-bottom: 10px;
}
#m3 p{
    color: #a11b1b;
    font-size: 16px;
    line-height: 1.5;
}
.header{
    background-color: #0a683c;
    color: #abee19;
    padding: 20px;
    text-align: center;
    font-family: customfont;
    
}
.para{
    background-color: #ffff00;
    color: #000000;
    padding: 20px;
    margin: 20px;
    font-family: test;
}