@font-face {
    font-family: 'CustomFont';
    
    src: url('Fints/Matcha\ Cih.ttf');
    font-family: customfont;
}

@font-face { 
src: url('Fints/Aurelia\ Sunlight\ Free.ttf');
    font-family:"test"
}

#m3{
    text-shadow: 2px 1px #c40d0d,-3px 1px #c40d0d, 2px -1px #282424;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 5px; 
}
#m3 h2{
    color: #391586;
    font-size: 24px;
    margin-bottom: 10px;
}
#m3 p{
    color: #a11b1b;
    font-size: 16px;
    line-height: 1.5;
}
.header{
    text-shadow: 2px 2px #000000;
    border-radius: 1em;
    border-style: dashed;
    border-color: #000000;
    background-color: #beb7b7;
    color: #000000;
    padding: 20px;
    text-align: center;
    font-family: customfont;
    
}
.para{
    
    border-style: dashed;
    border-width: 2px;
    border-radius: 1em;
    background-color: #ffff00;
    color: #000000;
    padding: 20px;
    margin: 20px;
    font-family: test;
}
#box{
    border-style: dashed;
    overflow: auto;
    width: 800px;
    height: 200px;
    background-color: #00ff00;
    border-radius: 10px;
    margin: 20px auto;
    box-shadow: 2px 2px 5px rgba(159, 5, 5, 0.3);
    margin-right: 50px;
}
    #tree-image{
        float: left;
        margin-right: 20px;
    }
    #btn{
        background-color: #ff0000;
        color: #ffffff;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
    }
    #btn:hover{
        background-color: #ebe2e2;
        color: #000000;
    } 
    .para::selection{
        background-color: #ff0000;
        color: #ffffff;
    }  